<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portfolio Visualizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

</head>
<body>
    <div id="app" class="container">
        <h1>{{  header.toLocaleUpperCase() }}</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Price</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Change</th>
                    <th>%</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(item, index) in stocks" :key="index">
                    <td>{{item.symbol}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.open}}</td>
                    <td>{{item.high}}</td>
                    <td>{{item.low}}</td>
                    <td>{{item.change}}</td>
                    <td>{{item.perc}}</td>
                </tr>
            </tbody>
        </table>

        <h2>Partial Update</h2>
        <form v-on:submit.prevent="addStockPriceChange">
            <select v-model="stockIndex">
                <option v-for="(item, index) in stocks" :value="index"> {{item.symbol}} </option>
            </select>
            <input type="text" v-model="newStockPrice" />
            <input type="submit" value="Send" />
        </form>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/@aspnet/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/msgpack5/dist/msgpack5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@aspnet/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="lib/statgen.js"></script>
</body>
</html>